<ion-view title="home" hide-nav-bar="true" id="page4" style="background-color:#FFFFFF;">
    <ion-content padding="true" style="background: url(img/QbVu18gRRCUDROxg66qg_images.jfif) no-repeat center;background-size:cover;" class="manual-ios-statusbar-padding">
        <h1 id="home-heading2" style="color:#FAF3F3;font-style:italic;text-align:center;">WEB SERVICE</h1>
        <div class="spacer" style="width: 300px; height: 18px;"></div>
        <form id="home-form4" class="list">
            <label class="item item-input" id="home-input8">
                <input type="text" placeholder="enter ur text">
            </label>
        </form>
        <button id="home-button7" class="button button-calm  button-block">SPEECH</button>
        <div>
            <audio controls="">

            </audio>
        </div>
        <div class="spacer" style="height: 100px;"></div>
        <a ui-sref="knowledgeService" id="home-button8" class="button button-calm  button-block">KNOWLEDGE SERVICE</a>
    </ion-content>
</ion-view>