<ion-view title="home" hide-nav-bar="true" id="page4" style="background-color:#FFFFFF;">
    <ion-content padding="true" style="background: url(img/QbVu18gRRCUDROxg66qg_images.jfif) no-repeat center;background-size:cover;" class="manual-ios-statusbar-padding">
        <h1 id="home-heading2" style="color:#FAF3F3;font-style:italic;text-align:center;">WEB SERVICE</h1>
        <div>


            <meta charset="utf-8">
            <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
            <title></title>



            <script src="lib/ionic/js/ionic.bundle.js"></script>

            <!-- cordova script (this will be a 404 during development) -->
            <script src="cordova.js"></script>

            <!-- IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above
    <link href="css/ionic.app.css" rel="stylesheet">
    -->


            <link href="lib/ionic/css/ionic.css" rel="stylesheet">


            <style type="text/css">
                .platform-ios .manual-ios-statusbar-padding{
                    padding-top:20px;
                  }
                  .manual-remove-top-padding{
                    padding-top:0px; 
                  }
                  .manual-remove-top-padding .scroll{
                    padding-top:0px !important;
                  }
                  ion-list.manual-list-fullwidth div.list, .list.card.manual-card-fullwidth {
                    margin-left:-10px;
                    margin-right:-10px;
                  }
                  ion-list.manual-list-fullwidth div.list > .item, .list.card.manual-card-fullwidth > .item {
                    border-radius:0px;
                    border-left:0px;
                    border-right: 0px;
                  }
            </style>

            <script src="js/app.js"></script>
            <script src="js/controllers.js"></script>
            <script src="js/routes.js"></script>


            <script src="js/directives.js"></script>

            <script src="js/services.js"></script>


            <!-- Only required for Tab projects w/ pages in multiple tabs 
    <script src="lib/ionicuirouter/ionicUIRouter.js"></script>
    -->



            <ion-pane ng-controller="AppCtrl">
                <ion-header-bar class="bar-stable">
                    <h1 class="title">Text-to-Speech</h1>
                </ion-header-bar>
                <ion-content class="padding">
                    <div class="list list-inset">
                        <label class="item item-input">
                            <i class="icon ion-speakerphone placeholder-icon"></i>
                            <input type="text" placeholder="Let me speak..." ng-model="data.speechText">
                        </label>
                    </div>
                    <button class="button button-full button-positive" ng-click="speakText()">
                        Speak!
                    </button>

                    <!--<button class="button button-full button-positive"ng-click="record()">-->
                    <!--  Record-->
                    <!--</button>-->
<!--
                    <div class="card">
                        <div class="item item-text-wrap">
                            {{recognizedText}}
                        </div>
                    </div>
-->
                    <a ui-sref="knowledgeService" id="home-button8" class="button button-calm  button-block">KNOWLEDGE SERVICE</a>
            
                </ion-content>
            </ion-pane>

            <script>
                angular.module('starter', ['ionic'])
        
          .controller('AppCtrl', function($scope) {
            $scope.data = {
              speechText: ''
            };
            $scope.recognizedText = '';
        
            $scope.speakText = function() {
              TTS.speak({
                text: $scope.data.speechText,
                locale: 'en-GB',
                rate: 1.5
              }, function () {
                // Do Something after success
              }, function (reason) {
                // Handle the error case
              });
            };
        
            $scope.record = function() {
              var recognition = new SpeechRecognition();
              recognition.onresult = function(event) {
                if (event.results.length > 0) {
                  $scope.recognizedText = event.results[0][0].transcript;
                  $scope.$apply()
                }
              };
              recognition.start();
            };
          });
            </script>


        </div>
    </ion-content>
</ion-view>