<ion-view title="knowledge service" hide-nav-bar="true" id="page5">
    <ion-content padding="true" style="background: url(img/JFYZsbs8RXqq8YyS4w5D_images.jfif) no-repeat center;background-size:cover;" class="manual-ios-statusbar-padding">
        <h1 id="knowledgeService-heading1" style="color:#FFFFFF;font-style:italic;text-align:center;">FACE ENHANCEMENT</h1>
        <form id="knowledgeService-form6" class="list">
            <label class="item item-input" id="knowledgeService-input9">
                <input type="text" placeholder="image url or upload">
            </label>
        </form>
        <a href="mailto:" id="knowledgeService-button10" style="text-align:right;" class="button button-calm button-small icon ion-android-upload"></a>
        <button id="knowledgeService-button9" class="button button-calm  button-block">Get Details</button>
    </ion-content>
</ion-view>